

@media all and (max-width: 800px) {
    /* CSS rules here for screens lower than 750px */
    div.IndexMainHero {
        display:flex;
        flex-direction: column;
        max-width: 500px;
    }

    .MenuItem {
        padding: 0px 5px 0px 5px;
        border-left: 1px solid #bebebe;
        font-size: 0.94em;
    }

    .NavigationLogo {
        font-size: 0.94em;
    }
}


body{
    margin:0;
}

a{
    text-decoration: none;
}
/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
    a:hover {
        color: #2b373f;
    }

/* selected link */
a:active {
    color: grey;
}

.ContentContainer {
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    background-color: #ededed;
}

.NavigationContainer {
    display: flex;
    justify-content: space-between;
    background-color:white;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
}

.LeftNavigation {
    padding: 0px 0px 0px 15px;
}

.NavigationLogo{

}

.RightNavigation {
    display:flex;
    flex-direction:row;
}

.MenuItem {
    padding: 0 15px 0 15px;
    border-left: 1px solid #bebebe;
}
    .MenuItem:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
    }




.ContentSection{

}

.MainContent{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 25px 0 0 0;
}

.IndexMainHero {
    display: flex;
    flex-direction: row;
    background-color: white;
    max-width: 900px;
    margin: 0 10px 0 10px;
}

.IndexMainHeroContainer{
    padding: 0 10px 10px 15px;
    min-width:150px;
}

.Information {
    padding: 20px 10px 5px 20px;
    max-width: 600px;
}

.SectionTitle{

}

.SectionContent{

}